<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
 <context-param>
  <param-name>com.gushuley.portal.default-lang</param-name>
  <param-value>uk</param-value>
 </context-param>
 <context-param>
  <param-name>config-mbean</param-name>
  <param-value>org.askoldova:name=Config</param-value>
 </context-param>
 <context-param>
  <param-name>com.gushuley.portal.ActionResolver</param-name>
  <param-value>org.askoldova.ui.UiActionResolver</param-value>
 </context-param>
 <context-param>
  <param-name>com.gushuley.portal.PluginResolver</param-name>
  <param-value>org.askoldova.ui.UiPluginResolver</param-value>
 </context-param>
 <context-param>
  <param-name>com.gushuley.portal.LoginResolver</param-name>
  <param-value>org.askoldova.ui.LoginResolver</param-value>
 </context-param>
 <context-param>
  <param-name>com.gushuley.portal.LanguageResolveMode</param-name>
  <param-value>Default</param-value>
 </context-param>
 <filter>
  <filter-name>contentEncodingFilter</filter-name>
  <filter-class>com.gushuley.portal.CharsetFilter</filter-class>
 </filter>
 <filter-mapping>
  <filter-name>contentEncodingFilter</filter-name>
  <url-pattern>/*</url-pattern>
 </filter-mapping>
 <servlet>
  <display-name>initServlet</display-name>
  <servlet-name>initServlet</servlet-name>
  <servlet-class>com.gushuley.portal.InitServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>actionServlet</servlet-name>
  <servlet-class>com.gushuley.portal.ActionServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>kaptcha</servlet-name>
  <servlet-class>com.google.code.kaptcha.servlet.KaptchaServlet</servlet-class>
  <init-param>
   <param-name>kaptcha.textproducer.font.size</param-name>
   <param-value>30</param-value>
  </init-param>
  <init-param>
    <param-name>kaptcha.textproducer.char.string</param-name>
    <param-value>12345678ACELFMNYZWX</param-value>
  </init-param>
  <init-param>
   <param-name>kaptcha.image.width</param-name>
   <param-value>150</param-value>
  </init-param>
  <init-param>
   <param-name>kaptcha.image.height</param-name>
   <param-value>35</param-value>
  </init-param>
 </servlet>
 <servlet-mapping>
  <servlet-name>initServlet</servlet-name>
  <url-pattern>/WEB-INF/index</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>actionServlet</servlet-name>
  <url-pattern>/uk/*</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>actionServlet</servlet-name>
  <url-pattern>/en/*</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>kaptcha</servlet-name>
  <url-pattern>/kaptcha.jpg</url-pattern>
 </servlet-mapping>
 <welcome-file-list>
  <welcome-file>/index.jsp</welcome-file>
 </welcome-file-list>
 <login-config>
  <auth-method>BASIC</auth-method>
 </login-config>
 <security-role>
  <role-name>webservice</role-name>
 </security-role>
 <security-role>
  <role-name>writer</role-name>
 </security-role>
 <security-role>
  <role-name>admin</role-name>
 </security-role>
</web-app>
